@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.container {
    background-color: black;
    background-size: cover;
}

.h1 {
    color: white;
    font-size: 20px;
    font-weight: normal;
}

.down-icon {
    color: white;
    width: 40px;
    font-size: 18px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.flex-container {
    display: flex;
    align-items: center;
}

.menu-title {
    margin-right: 10px;
}

.h2 {
    color: white;
    font-family: "Roboto";
    font-size: 20px;
    padding-left: 80px;
}

.search-icon {
    color: grey;
    width: 50px;
    font-size: 20px;
}

.search-icon1 {
    color: blue;
    width: 50px;
    font-size: 20px;
}

.ipf {
    width: 350px;
    height: 300px;
}

.mp7 {
    height: 100px;
    width: 130px;
}

.container2 {
    text-align: center;
}

.h3 {
    color: white;
    font-family: "roboto";
    font-weight: bold;
    padding: 20px;
    font-size: 50px;
}

.h4 {
    color: white;
    font-weight: normal;
}

.button {
    color: white;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    border-color: #0F86D8;
    padding-left: 140px;
    padding-right: 140px;
}

.cc3 {
    padding-top: 220px;
    padding-bottom: 220px;
}

.imgp {
    width: 450px;
    height: 350px;
}

.h5 {
    color: white;
    font-weight: normal;
    font-size: 20px;
    padding-bottom: 20px;
}

.button1 {
    color: white;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    border-color: #0F86D8;
    padding-left: 140px;
    padding-right: 140px;
}

.container4 {
    background-color: white;
    background-size: cover;
}

.cc5 {
    text-align: center;
}

.h6 {
    color: black;
    font-size: 40px;
    font-weight: bold;
    ;
}

.p2 {
    color: #3C3E40;
    padding-top: 10px;
    font-size: 22px;
}

.lg {
    height: 150px;
    width: 200px;
    margin-left: 40px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.lg1 {
    height: 150px;
    width: 200px;
    margin-bottom: 30px;
}

.container7 {
    background-color: black;
    background-size: cover;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 120px;
}

.container8 {
    background-color: #363638;
    background-size: cover;
    height: 30vh;
    text-align: center;
    padding-top: 20px;
}

.p6 {
    color: #2562AF;
    padding-left: 40px;
    padding-right: 15px;
}

.p7 {
    color: #2562AF;
    padding-right: 15px;
}